$name: '.ui-checkbox';

#{$name} {
    display: block;
    user-select: none;

    [type=checkbox] {
        box-sizing: border-box;
        opacity: 0;
        padding: 0;
        position: absolute;
        pointer-events: none;
    }

    &__view {
        display: flex;
        line-height: 22px;
    }

    &__marker {
        display: inline-flex;
        width: 22px;
        height: 22px;
        flex: 0 0 auto;
        background: #fff;
        border: 2px solid #6a7c93;
        border-radius: 2px;
        cursor: pointer;
        position: relative;

        &:before {
            display: block;
            content: "";
            background-size: cover;
            background-position: 50%;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#{$name} [type=checkbox]:checked + #{$name}__view #{$name}__marker {
    background: #526cff;
    border-color: #526cff;
}

#{$name} [type=checkbox]:checked + #{$name}__view #{$name}__marker:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9Ii0xIC00IDIyIDIyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgPHBhdGggZD0iTSAxOS4zMTMyIDMuODk1ODRMIDEwLjM4MTMgMTMuMzMxOEMgOS40NjU5OSAxNC4yMjI3IDcuOTgxMjQgMTQuMjIyNyA3LjA2NTQ2IDEzLjMzMThMIDAuNjg2NTA1IDcuMTIzMTdDIC0wLjIyODgzNSA2LjIzMTg1IC0wLjIyODgzNSA0Ljc4Njc0IDAuNjg2NTA1IDMuODk1ODRDIDEuNjAyMjggMy4wMDQ1MSAzLjA4NzAzIDMuMDA0NTEgNC4wMDIzNyAzLjg5NTg0TCA4LjcyNDI3IDguNDkxNjdMIDE1Ljk5NzMgMC42Njg0OTZDIDE2LjkxMzEgLTAuMjIyODMyIDE4LjM5NzQgLTAuMjIyODMyIDE5LjMxMzIgMC42Njg0OTZDIDIwLjIyODkgMS41NTk0IDIwLjIyODkgMy4wMDQ1MSAxOS4zMTMyIDMuODk1ODRaIiBmaWxsPSIjQThBOEE4IiAvPjwvc3ZnPg==);
}
